body { 
margin:0; padding:0;; line-height: 100%; font-size: 100%;color:#ffffff;
font-family: 'Playfair Display SC', serif;

}

#taust {
	margin:0;
	background: url(pildid/aed_bg.jpg) no-repeat center center fixed; 
	background-size:100% 100%;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
	background-size: cover;
	height:100%;
	max-width:100%;
	overflow-y:auto;
}


#menuu1{
	height:500px;

	width:100%;
	position:relative;
	top:0;
	left:0;
	background-color:rgba(0,0,0,0.5);
	text-align:center;
	padding-top:10px;
	padding-bottom:25%;
}

.veateade{
	position:absolute;
	z-index:1;
	margin-top:200px;
	margin-left:200px;
	
	width:200px;
	height:auto;
	backgorund-color:#C8C8C8;
}


#vahejoon {
	background: url(pildid/vahejoon.png);
	position:absolute;
	height: 30px;
	width:100%;
	min-width:100%;
	margin-left:auto;
	margin-right:auto;
	z-index:1;
}

#vahejoon2 {
	background: url(pildid/vahejoon.png);
	position:absolute;
	height: 30px;
	width:100%;
	min-width:100%;
	margin-left:auto;
	margin-right:auto;
	z-index:1;
}

#menuu1 a{
	text-decoration: none;
	color:rgba(255,255,250,1);
	position:relative;
}

#menuu1 p{
text-align:justify;
color:#ffffff;
margin-top:5px;
margin-bottom:5px;
padding:5px;
}

.tutvustus{
	text-decoration: none;
	position:relative;
	width:450px;
	height:300px;
	margin-top:25%;
	left:5%;

}

#lingid ul{
	font-size:18px;
	width:400px;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	padding:10px;
	margin-top:40px;
	
}
#lingid li{
	padding:5px;
	margin:10px;
	display:inline;
}

a.learn {
	font-size:24px;
	border-style:solid;
	border-width:2px;
	border-color:#ffffff;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px; /* future proofing */
	-khtml-border-radius: 10px; /* for old Konqueror browsers */
	padding:10px;
	text-align:center;
	position:relative;
	top:220px;
	color:#ffffff;
}

#logo img{
position:relative;
top:150px;
}

h1{
font-size:25px;
color:#ffffff;
opacity:1;
margin:5%;
}

p{
color:#ffffff;
text-align:center;
margin:1%;
}

#menuu2{
	height:auto;
	min-height:780px;
	position:relative;
	background-color:#F2F5F8;
	opacity:0.9;
	text-align:center;
	padding:10px;
}

a.toTop2{
	color:#42454E;
	width:40%;
	height:40%;
	margin-left: auto ;
	margin-right: auto ;
	position:relative;
	top:10px;
	padding:10px;
}

#menuu2 h1, #menuu2 p{
color:#000000;
padding:0px;
}

#menuu2 a{
	color:#000000;
}

#menuu2 img{
	padding:10px;
}

.kastisysteem{
		display:block;
		position:relative;
		height:auto;
		overflow:auto;
		margin:3% auto 2% auto;	
}
	
.kast-vasak{
	border:1px;
	border-color:#000000;
	border-style:solid;
	padding:5px;
	display:block;
	position:relative;
	width:20%;
	float:left;
	margin-left:20%;
	margin-bottom:40px;
}

.kast-parem{
	border:1px;
	border-color:#000000;
	border-style:solid;
	padding:5px;
	display:block;
	position:relative;
	width:20%;
	float:right;
	margin-right:20%;
	margin-bottom:40px;
}

#menuu3{

	height:auto;
	min-height:700px;
	min-width:100%;
	width:100%;
	background-color:#F9F9F9;
	padding:0px 0px 10px 0px;
}
#menuu3 h1{
text-align:center;
color:#42454E;
padding-top:50px;
margin-top:0px;
margin-bottom:20px;
}

#menuu3 p{
padding:10px 10px 0px 10px;
text-align:center;
color:#42454E;
}

/** Siin on ära määratud taust referentside galeriile. */
#referentsid {
	background: url(pildid/telefon_taust.png)no-repeat center center;
	margin: 50px auto; 
	position: relative;
    width: 300px; 
    height: 543px; 
}
/** Siin määran ära, et referentside sees valin ainult div-elemendid */
#referentsid > div { 
    position: absolute;
	top:80px;
	margin-left:28px;
	margin-right:auto;

}

#referentsid img{
	position: absolute;
	top:80px;
	margin-left:28px;
	margin-right:auto;
	
}

.kontaktid{
	margin-left: auto ;
	margin-right: auto ;
	position:relative;
	padding:10px;
	width:40%;
	height:auto;
	background-color:rgba(0, 0, 0, 0.5);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px; /* future proofing */
	-khtml-border-radius: 10px; /* for old Konqueror browsers */
}

img.kontaktid{
	margin-left: auto;
	margin-right: auto;
	padding:5px;
}

#menuu4{
	position: relative;
	height:300px;
	width:100%;
}

#menuu4 a{
	text-align:center;
	position:relative;
	color:#ffffff;
}

#menuu4 p{
	margin-left: auto ;
	margin-right: auto ;
	position:relative;
	padding:5px;
	margin:0;

}

a.toTop{
	width:40%;
	height:40%;
	background-color:rgba(0, 0, 0, 0.4);
	margin-left: auto ;
	margin-right: auto ;
	position:relative;
	top:175px;
	padding:10px;
		text-decoration: none;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px; /* future proofing */
	-khtml-border-radius: 10px; /* for old Konqueror browsers */
}

/** Siin on ära määratud elemendid, kui laius on alla 750px */
@media screen and ( max-width: 750px ) {
	h1{
		font-size:20px;
	}
		
	p{
		font-size:12px;
	}
	
	#taust {
		margin:0;
		background: url(pildid/aed_bg.jpg) no-repeat center center fixed; 
		background-size:100% 100%;
		-webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
		background-size: cover;
		height:100%;
		max-width:700px;
		overflow-y:auto;
	}
	
	#lingid ul{
		font-size:14px;
		width:300px;
		min-width:300px;
		position:relative;
		left:1%;
		right:auto;
		padding:5px;
		margin-top:40px;
	}
	#lingid li{
		display:inline;
	}
	
	#logo img{
	width:200px;
	padding:10px;
	position:relative;
	top:150px;
	}
	

	
	a.learn {
		font-size:14px;
		border-style:solid;
		border-width:2px;
		border-color:#ffffff;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
		border-radius: 10px; /* future proofing */
		-khtml-border-radius: 10px; /* for old Konqueror browsers */
		padding:10px;
		text-align:center;
		position:relative;
		top:320px;
		color:#ffffff;
	}
	
	.tutvustus{
		font-size:14px;
		text-decoration: none;
		position:relative;
		padding:10px;
		width:100%;
		height:300px;
		margin-top:150px;
		left:5%;
		width:250px;
		height:75px;
	}
	
	
	#menuu2{
		height:570px;
		min-height:570px;
		position:relative;
		background-color:#F2F5F8;
		opacity:0.9;
		text-align:center;
		padding:10px;
	}
	
	
	.kast-vasak{
		border:1px;
		border-color:#000000;
		border-style:solid;
		padding:5px;
		display:block;
		position:relative;
		width:80px;
		min-width:80px;
		float:left;
		margin-left:20%;
		margin-bottom:40px;
	}


	.kast-parem{
		border:1px;
		border-color:#000000;
		border-style:solid;
		width:80px;
		margin-right:20%;

	}
	
	.passipilt img{
		position:relative;
		width:75px;
		height:96px;


		}
	.telefon img{
		position:relative;
	
		width:20px;
		height:36px;

		
	}
	
	#menuu3{
		height:auto;
		min-height:500px;
		min-width:100%;
		width:100%;
		background-color:#F9F9F9;
	}
	#galerii{
		width:400px;
		height:200px;
		overflow-y:auto;
		margin-top:80px;
		max-height:300px;
		margin-left: auto ;
		margin-right: auto ;
	}
	
	
	.kontaktid{
		margin-left: auto ;
		margin-right: auto ;
		padding:10px;
		width:auto;
		max-width:40%;
		height:auto;
		text-align:center;
		font-size:12px;
		background-color:rgba(0, 0, 0, 0.5);
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
		border-radius: 10px; /** future proofing */
		-khtml-border-radius: 10px; /* for old Konqueror browsers */
	}
	
}
