<div id="vahejoon"></div>
<div id="menuu2"><h1>About Us...</h1>

	<p>	Our main goal is to develop and design the most outstanding and intuitive user experience. The team has a long experience in developing Android mobile applications.All applications are tested in different devices and resolutions to make sure that the user is not affected due to the device. See our gallery for references <a href="#galerii"> below.</a></p>

	<div class="kastisysteem">
	<div class="kast-vasak">
	<div class="passipilt"><h1>Joonas</h1><img src="pildid/jobs.png" alt="telefon"/>
	</div>	
	<p>Web Designer</p><div class="telefon"><img  src="pildid/telefon.png" alt="telefon"/></div><p>+ 372 53 24 263</p></div>
		
	<div class="kast-parem"><h1>Tanel</h1>
	<div class="passipilt"><img src="pildid/gates.png" alt="telefon"/>
	</div>
	<p>Software, Sales</p>
		<div class="telefon"><img src="pildid/telefon.png" alt="telefon"/></div>
		
	<p>+ 372 53 84 163</p>
	</div>
		
	
			</div>
				<p><a class="toTop2" href="#lingid">Back To Top</a></p>
	</div>
	<div id="vahejoon2"></div>
<div id="menuu3">
		<h1>Gallery	</h1>
			<p>Here are some previews of our references and jobs. Feel free to click those links to learn more about specific projects.</p>
		<div id="referentsid">

				<?php foreach($pildid as $id=>$pilt): ?>
				<a href="<?php echo "?mode=view&amp;id=$id";?>"><img src="<?php echo $pilt['pic']; ?>" alt="<?php echo $pilt['alt']; ?>"  /></a>
				<?php endforeach;?>
		</div>
</div>
	
<div id="menuu4">
		<p><a class="toTop" href="#lingid">Back To Top</a></p>	
	<div class="kontaktid">
	<p> &reg; | All rights reserved | 2014 | Android App Development |</p>
	<p>
	<form action="email.php" method="post">
	    <input name="email" class="email" type="text" placeholder="Enter your email address ...">
	    <button type="submit" class="btn_email">Send</button>
	</form>
	</div>

</div>
	
</div>
</body>
</html>
