<?php
if (isset($_SESSION['access'])&& $_SESSION['access']==1)
{
	

?>

<?php
$host="localhost";
 $user="test";
 $pass="t3st3r123";
 $db="test";
 $connection = mysqli_connect($host, $user, $pass, $db) or die("ei saa ühendust mootoriga- ".mysqli_error());
 mysqli_query($connection, "SET CHARACTER SET UTF8") or die("Ei saanud baasi utf-8-sse - ".mysqli_error($connection));

if(!empty($_SESSION['kasutajanimi'])){
$kontroll = $_SESSION['kasutajanimi'];
}

$query = "SELECT kasutajanimi, parool FROM jkessel_kasutajad WHERE kasutajanimi = $kontroll";
$tulemus = mysqli_query($connection, $query);
$info = mysqli_fetch_array($tulemus);

?>
<div id="menuu1">
	<div id="lingid">
		<ul>
			<li><a href="#menuu2">About us</a></li>
			<li><a href="#menuu3">Gallery</a></li>
			<li><a href="#menuu4">Legal</a></li>
		</ul>
	</div>

	<div id="logo"><img src="pildid/logo_suur.png" alt="Joonas Portfolio"/></div>

		<a href="kontroller.php?mode=index" class="learn">Naked pictures of your mother.</a>
		<a href="kontroller.php?mode=logout" class="learn">LOGOUT</a>
		<table>
		<tr>	<td>Kasutajanimi</td><td>Parool</td></tr>
				<tr><td><?php echo htmlspecialchars($info['kasutajanimi'])?></td><td><?php echo htmlspecialchars($info['parool'])?></td></tr>
			</table>
		<div class="tutvustus">
		<p>Android App Development</p>
	<p>	The most outstanding <u>UI</u> and elaborate <u>UX.</u></p>
		</div>	
</div>

<?php
}

else
{
	

header( 'Location: kontroller.php?mode=index' );

}

?>
