<div id="menuu1">
	
	<div id="lingid">
		<ul>
			<li><a href="#menuu2">About us</a></li>
			<li><a href="#menuu3">Gallery</a></li>
			<li><a href="#menuu4">Legal</a></li>
		</ul>
	</div>

<!--<?php if(!empty($veateade)):?>

<div class="veateade">

	<table>
	<?php foreach($veateade as $regvõti=> $regvaartus):?>
		<tr>
			<td> <?php echo  $regvaartus ?> </td>
		</tr>
	<?php endforeach; ?>
	</table>
</div>
<?php endif; ?> -->

	<div id="logo"><img src="pildid/logo_suur.png" alt="Joonas Portfolio"/></div>

			<div class="register">
			<form action="?mode=regamine" method="POST">
			<input type="text" name="username">
			<input type="password" name="password">
			<input type="password" name="password_uuesti">
			<input type="submit" name="saada" value="submit"></form>
			</div>

		<div class="tutvustus">
		<p>Android App Development</p>
	<p>	The most outstanding <u>UI</u> and elaborate <u>UX.</u></p>
		</div>	
</div>
