<div id="menuu1">
	
	<div id="lingid">
		<ul>
			<li><a href="#menuu2">About us</a></li>
			<li><a href="#menuu3">Gallery</a></li>
			<li><a href="#menuu4">Legal</a></li>
		</ul>
	</div>

	<div id="logo"><img src="pildid/logo_suur.png" alt="Joonas Portfolio"/></div>

		<a href="kontroller.php?mode=index" class="learn">This here is TOP-SECRET, try again..</a>
		
			<div class="login">
			<form action="login.php" method="POST"><input type="text" name="username" value="username" placeholder="Username">
			<input type="password" name="password" value="password" placeholder="Password">
			<input type="submit" name="submit" value="submit"></form>
			</div>

		<div class="tutvustus">
		<p>Android App Development</p>
	<p>	The most outstanding <u>UI</u> and elaborate <u>UX.</u></p>
		</div>	
</div>
